@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ebebeb;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: #ebebeb;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* position: relative; */
  background-color: white;
  height: 700px;
  width: 350px;
  border-radius: 30px;

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;

    width: 100%;
    height: 60%;

    img {
      width: 80%;
    }
  }

  .card-body {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;

    h2 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem;
    }

    .card-buttons {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;

      .selector-card {
        display: flex;
        gap: 10px;

        .card-active {
          height: 6px;
          width: 20px;
          background-color: black;
          border-radius: 3px;
        }

        .card-inactive {
          height: 6px;
          width: 6px;
          background-color: lightgray;
          border-radius: 3px;
        }
      }

      .prev-next-buttons{
        display: flex;
        gap: 10px;
      }

      button {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 100%;
        background-color: black;
        color: white;
        font-size: 1.2rem;
        transition: all 0.3s;

        &:hover {
          scale: 1.2;
        }
      }

      .prev-button {
        background-color: white;
        border: 2px solid gray;
        color: gray;
      }
    }
  }
}

@media (max-width: 767px) {
  .card {
    height: 100vh;
    width: 100vw;
    border-radius: 0;

    .card-header {
      border-radius: 0;
    }

    .card-body p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 320px) {
  .card {
    .card-header {
      height: 50%;
    }

    .card-body {
      height: 50%;
      .card-buttons button {
        height: 40px;
        width: 40px;
      }
    }
  }
}
